@tailwind base;

.section_starter {
  position: relative;
}
.section_starter:before {
  position: absolute;
    content: "";
    top: -110px;
    width: 1px;
    left: 50%;
    height: 100px;
    display: block;
    background: linear-gradient(#e6646500, #9198e5);
}
.lined:after {
  position: absolute;
  background-image: url(../../src/images/line.png);
  bottom: -20px;
  left: 0;
  display: block;
  right: 0;
  height: 40px;
  content: "";
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
}

@tailwind components;
@tailwind utilities;
 