@tailwind base;

.section_starter {
  position: relative;
}
.section_starter:before {
  position: absolute;
    content: "";
    top: -110px;
    width: 1px;
    left: 50%;
    height: 100px;
    display: block;
    background: linear-gradient(#e6646500, #9198e5);
}
.lined:after {
  position: absolute;
  background-image: url(../../src/images/line.png);
  bottom: -20px;
  left: 0;
  display: block;
  right: 0;
  height: 40px;
  content: "";
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
}



  details > summary { 
    list-style: none;
    cursor: pointer;
  }
  details > summary::before { display: none; }
  details > summary::-webkit-details-marker { display: none; }

.details-dropdown[open] > summary {
  cursor: default;
}


.details-dropdown[open] > summary:before {
  content: " ";
  background: transparent;
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.details-dialog[open] > summary:before {
  content: " ";
  background: rgba(0,0,0,0.4);
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
}


.details-modal {
  margin-left: -16rem;
  left: 50%;
}


@tailwind components;
@tailwind utilities;
 